* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Gotham Pro Light";
    src: url("../media/fonts/14080.ttf");
}

.wrapper {
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.section {
    height: 100vh;

    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: local;
    scroll-snap-align: start;

    color: #fff;
}

.section__title {
    font-family: "Gotham Pro", sans-serif;
    font-size: 50px;
}

.tab1 {
    background-image: url("../media/first_bcg.jpg");
    /*padding: 145px 75px;*/
}

.tab1__title {
    width: 745px;

    letter-spacing: -1px;
    color: #0d319c;
}

.tab2 {
    background-image: url("../media/second_bcg.jpg");
}

.tab2__title {
    width: 481px;

    font-weight: 100;
    text-align: center;
    text-shadow: 1px 1px 70px #FFFFFF;

    margin: 0 auto;
    padding: 250px 0;
}

.tab3 {
    background-image: url("../media/bcg3.jpg");
}

.slide__title {
    font-family: "Gotham Pro", sans-serif;
    font-size: 30px;
    font-weight: 100;
    /*margin-bottom: 25px;*/
    margin-left: 10%;
    margin-top: 110px;
}

.slider__wrap {
    width: 100%;
}
.slider {
    width: 640px;
    height: 1px;
    outline: none;
    background: #d1eaff;
    /*border: 12px solid #d1eaff;*/

    -webkit-appearance: none;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 45px;
    height: 55px;
    background-image: url("../media/slider-tumb.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}