* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Gotham Pro Light";
    src: url("../media/fonts/14080.ttf");
}

.tab1 {
    max-height: 100vh;
    /*width: 100vw;*/

    background-image: url("../media/first_bcg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: local;

    /*padding: 145px 75px;*/
}
.heading {
    /*width: 745px;*/

    font-family: "Gotham Pro", sans-serif;
    font-size: 50px;
    letter-spacing: -1px;

    color: #0d319c;
}

.tab2 {
    max-height: 100vh;
    width: 100%;

    background-image: url("../media/second_bcg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: local;

}
.heading2 {
    font-family: "Gotham Pro Light","Gotham Pro", sans-serif;
    width: 481px;
    height: inherit;

    font-size: 50px;
    color: #fff;
    /*font-weight: 300;*/
    text-align: center;
    margin: 0 auto;
    /* margin-top: 250px; */
    padding: 250px 0;
    text-shadow: 1px 1px 70px #FFFFFF;
}

.tab3 {
    max-height: 100vh;
    width: 100%;

    background-image: url("../media/bcg3.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: local;

    padding-top: 115px;
    padding-left: 85px;
    padding-bottom: 15px;
    padding-right: 15px;
}
.heading3 {
    font-family: "Gotham Pro", sans-serif;
    font-size: 30px;
    color: #ffffff;
}
.slider__wrap {
    width: 100%;
}
.slider {
    width: 640px;
    height: 1px;
    outline: none;
    background: #d1eaff;
    /*border: 12px solid #d1eaff;*/

    -webkit-appearance: none;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 45px;
    height: 55px;
    background-image: url("../media/slider-tumb.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}